<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Matt\Pokemon\Api\ConfigurationReaderInterface"
                type="Matt\Pokemon\Service\ConfigurationReader"/>
    <preference for="Matt\Pokemon\Api\PokeApiServiceInterface"
                type="Matt\Pokemon\Service\PokeApiService"/>

    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="product_name_update" type="Matt\Pokemon\Plugin\ProductNameUpdate"/>
    </type>
</config>
